dist/brief.html
<!DOCTYPE html>
<html>
  <head>
    <title>My Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa:400,700&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Maven+Pro:400,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="css/bundle.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
    <script src="js/bundle.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="header_inner">
        <div class="header_logo"><a href="/dist">Scr1pt</a></div>
        <nav class="header_navigation"><a class="header_navigation_button" href="#"><span class="sandwich"></span><span class="text">Меню</span></a>
          <ul class="header_navigation_list">
            <li><a href="/dist">Главная</a></li>
            <li><a href="/dist">Портфолио</a>
              <ul class="submenu">
                <li><a href="/dist/good-goal.html">Good Goal </a></li>
                <li><a href="/dist/craft-shop.html">Craft Shop </a></li>
                <li><a href="/dist/yondo!.html">Yondo! </a></li>
                <li><a href="/dist/pechi.html">Losa GmbH </a></li>
              </ul>
            </li>
            <li><a href="/dist/brief.html">Бриф</a></li>
            <li><a href="/dist/contacts.html">Контакты</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
<section class="hero-big parallax-section" id="hero" data-parallax-image="images/hero-contact.jpg" style="position: relative;">
  <div class="page-title">
    <h1 class="text-light"><strong>Бриф</strong></h1>
  </div>
  <div class="parallax-content" style="position:absolute;top:0;left:0;width:100%;height:100%;z-index:-1;overflow:hidden;">
    <div class="parallax-image" style="background: url(&quot;images/hero-contact.jpg&quot;) center center / cover; width: 100%; height: 920px; position: absolute; top: -160px; transform: matrix(1, 0, 0, 1, 0, 0);"></div>
  </div>
</section>
<main class="middle brief">
  <div class="content">
    <h3 class="align-center"><strong>Бриф на создание сайта</strong></h3>
    <h6 class="alttitle align-center">Мы всегда рады создавать новые сайты</h6>
    <div class="wrapper-small">
      <form class="ac-custom ac-checkbox ac-boxfill ac-radio ac-circle checkform" id="contact-form" action="https://formspree.io/galimuimail@gmail.com" method="POST" autocomplete="off">
        <h4 id="client_information">1. Информация о заказчике</h4>
        <div class="form-row clearfix" id="f1">
          <label class="req" for="name">1.1. Ваше имя и роль в компании: *</label>
          <input class="name" id="name" type="text" name="name" value="" placeholder="ФИО и роль в компании" required>
        </div>
        <div class="form-row clearfix" id="f1_2">
          <label class="req" for="phone">1.2. Номер телефона: *</label>
          <input class="phone" id="phone" type="tel" name="phone" value="" placeholder="Номер телефона" required>
        </div>
        <div class="form-row clearfix" id="f1_3">
          <label class="req" for="_replyto">1.3. E-mail адрес *</label>
          <input class="email" id="email" type="email" name="_replyto" value="" placeholder="E-mail" required>
        </div>
        <div class="form-row clearfix" id="f1_4">
          <label class="req" for="company-name">1.4. Название компании: *</label>
          <textarea class="company-name" id="company-name" name="company-name" rows="15" cols="30" placeholder="Название компании" required></textarea>
        </div>
        <div class="form-row clearfix" id="f1_5">
          <label for="company-activity">1.5. Сфера деятельности компании:</label>
          <textarea class="company-activity" id="company-activity" name="company-activity" rows="15" cols="30" placeholder="Сфера деятельности"></textarea>
        </div>
        <div class="form-row clearfix" id="f4">
          <label class="req" for="products-services">1.6. Услуги / продукты компании: *</label>
          <input class="products-services" id="products-services" type="text" name="products-services" value="" placeholder="Услуги/продукты" required>
        </div>
        <div class="form-row clearfix" id="f5">
          <label for="site-domen">Адрес текущего сайта (если есть):</label>
          <input class="site-domen" id="site-domen" type="text" name="site-domen" value="" placeholder="http://">
        </div>
        <div class="form-row clearfix" id="f6">
          <label for="new-site-domen">Доменное имя для нового сайта (возможные варианты):</label>
          <textarea class="new-site-domen" id="new-site-domen" name="new-site-domen" rows="15" cols="30" placeholder="Возможные домены нового сайта"></textarea>
        </div>
        <h4 id="general_requirements">2. Общие требования к сайту</h4>
        <div class="form-row clearfix" id="f7">
          <label class="req" id="site-type">Тип сайта: * </label>
          <ul>
            <li>
              <input id="cb1" name="lending" type="checkbox">
              <label for="cb1">Лендинг</label>
            </li>
            <li>
              <input id="cb2" name="visitka" type="checkbox">
              <label for="cb2">Визитка</label>
            </li>
            <li>
              <input id="cb3" name="katalog" type="checkbox">
              <label for="cb3">Каталог</label>
            </li>
            <li>
              <input id="cb4" name="shop" type="checkbox">
              <label for="cb4">Интернет магазин</label>
            </li>
            <li>
              <input id="cb5" name="portal" type="checkbox">
              <label for="cb5">Портал</label>
            </li>
          </ul>
        </div>
        <div class="form-row clearfix" id="f6">
          <label for="slogan">Слоган компании либо рекламные фразы для использования на веб-сайте:</label>
          <textarea class="slogan" id="slogan" name="slogan" rows="15" cols="30" placeholder="Слоган, фразы"></textarea>
        </div>
        <div class="form-row clearfix textbox">
          <label for="impression">Какое впечатление о компании должно создаваться у пользователей сайта?</label>
          <textarea class="impression" id="impression" name="impression" rows="15" cols="30" placeholder="Впечатление"></textarea>
        </div>
        <div class="form-row clearfix textbox">
          <label for="goal-auditory">Целевая аудитория:</label>
          <input class="goal-auditory" id="goal-auditory" type="text" name="goal-auditory" value="" placeholder="Целевая аудитория">
        </div>
        <div class="form-row clearfix textbox">
          <label class="req" for="good-sites">Пожалуйста, укажите два-три веб-сайта, которые Вам нравятся и почему: *</label>
          <textarea class="good-sites" id="good-sites" name="good-sites" rows="15" cols="50" placeholder="Сайты" required></textarea>
        </div>
        <div class="form-row clearfix textbox">
          <label class="req" for="bad-sites">Пожалуйста, укажите два-три веб-сайта, которые Вам <span class="colored">НЕ</span> нравятся и почему: *</label>
          <textarea class="bad-sites" id="bad-sites" name="bad-sites" rows="15" cols="50" placeholder="Сайты, которые НЕ нравятся" required></textarea>
        </div>
        <div class="form-row clearfix textbox">
          <label class="req" for="your-bad-site">Если у Вас уже есть веб-сайт, что Вам в нем нравится и НЕ нравится?</label>
          <textarea class="your-bad-site" id="your-bad-site" name="your-bad-site" rows="15" cols="50" placeholder="Нравится и НЕ нравится"></textarea>
        </div>
        <div class="form-row clearfix" id="f7">
          <label id="your-bad-site-tasks">Выполняет ли существующий сайт возложенные на него задачи?</label>
          <ul>
            <li>
              <input id="r1" name="dotasks" type="radio">
              <label class="radio" for="r1">Да</label>
            </li>
            <li>
              <input id="r2" name="dotasks" type="radio">
              <label class="radio" for="r2">Нет</label>
            </li>
            <li>
              <input id="r3" name="dotasks" type="radio">
              <label class="radio" for="r3">Частично</label>
            </li>
          </ul>
        </div>
        <div class="form-row clearfix textbox">
          <label class="req" for="budget">Укажите "вилку" предполагаемого бюджета на разработку сайта в $: *</label>
          <input class="budget" id="budget" type="text" name="budget" value="" placeholder="Укажите бюджет в $" required>
        </div>
        <h4 id="appearance">3. Внешний вид веб-сайта</h4>
        <div class="form-row clearfix textbox">
          <label class="req" for="firm-elements">3.1 Существующие элементы фирменного стиля компании: </label>
          <textarea class="firm-elements" id="firm-elements" name="firm-elements" rows="15" cols="50" placeholder="Есть ли у вас Логотип? Шрифты? Фирменные цвета? Что то другое?"></textarea>
        </div>
        <div class="form-row clearfix textbox">
          <label class="req" for="visual-materials">3.2 Какие визуальные материалы Вы можете предоставить для использования на сайте? </label>
          <textarea class="visual-materials" id="visual-materials" name="visual-materials" rows="15" cols="50" placeholder="Визуальные материалы"></textarea>
        </div>
        <div class="form-row clearfix textbox">
          <label class="req" for="colors">3.3 Есть ли у Вас особые предпочтения в отношении цветовой гаммы веб-сайта? </label>
          <textarea class="colors" id="colors" name="colors" rows="15" cols="50" placeholder="Цветовая гама сайта"></textarea>
        </div>
        <div class="form-row clearfix textbox">
          <label class="req" for="forbiden-colors">3.4 Какие цвета категорически нельзя, с Вашей точки зрения, использовать на Вашем сайте?</label>
          <textarea class="forbiden-colors" id="forbiden-colors" name="forbiden-colors" rows="15" cols="50" placeholder="Цвета которые нельзя использовать"></textarea>
        </div>
        <div class="form-row clearfix textbox">
          <label class="req" for="site-look">3.5 Как бы Вы охарактеризовали внешний вид будущего веб-сайта?</label>
          <input class="site-look" id="site-look" type="text" name="site-look" value="" placeholder="Пожалуйста, приведите несколько эпитетов, например: строгий / элегантный / провокационный / вычурный и т.п.">
        </div>
        <div class="form-row clearfix textbox">
          <label class="req" for="forbid">3.6 Недопустимые к использованию символы, образы, слова</label>
          <textarea class="forbid" id="forbid" name="forbid" rows="15" cols="50" placeholder="Недопустимые к использованию символы, образы, слова"></textarea>
        </div>
        <div class="form-row clearfix" id="f7">
          <label class="req" id="animations">3.7 Планируется ли использовть анимации и ефекты на сайте?</label>
          <ul>
            <li>
              <input id="r4" name="animations" type="radio">
              <label class="radio" for="r4">Да, много красивых анимаций и ефектов</label>
            </li>
            <li>
              <input id="r5" name="animations" type="radio">
              <label class="radio" for="r5">Да, умеренно красивых анимаций и ефектов</label>
            </li>
            <li>
              <input id="r6" name="animations" type="radio">
              <label class="radio" for="r6">Да, мало. Элегантные анимации и ефекты</label>
            </li>
            <li>
              <input id="r7" name="animations" type="radio">
              <label class="radio" for="r7">Нет</label>
            </li>
          </ul>
        </div>
        <h4 id="structure">4. Содержание и структура веб-сайта</h4>
        <div class="form-row clearfix textbox">
          <label class="req" for="content">4.1 Какие материалы Вы можете предоставить для наполнения веб-сайта и в каком формате?</label>
          <textarea class="content" id="content" name="content" rows="15" cols="50" placeholder="Укажите материалы и их формат"></textarea>
        </div>
        <div class="form-row clearfix textbox">
          <label class="req" for="site-map">4.2 Примерная карта сайта, возможные разделы: *</label>
          <textarea class="site-map" id="site-map" name="site-map" rows="15" cols="50" placeholder="Например «о компании», «каталог продукции», «контакты»…." required></textarea>
        </div>
        <div class="form-row clearfix textbox">
          <label class="req" for="languages">4.3 Планируется ли создание версий сайта на других языках помимо русского? На каких именно?</label>
          <textarea class="languages" id="languages" name="languages" rows="15" cols="50" placeholder="Языки"></textarea>
        </div>
        <div class="form-row clearfix" id="f7">
          <label class="req" id="update-content">4.4 Каким образом планируется обновлять материалы на сайте?</label>
          <ul>
            <li>
              <input id="r8" name="animations" type="radio">
              <label class="radio" for="r8">IT-специалисты</label>
            </li>
            <li>
              <input id="r9" name="animations" type="radio">
              <label class="radio" for="r9">Неспециалисты</label>
            </li>
            <li>
              <input id="r10" name="animations" type="radio">
              <label class="radio" for="r10">Планируется использовать услуги сторонних фирм или частных лиц</label>
            </li>
            <li>
              <input id="r11" name="animations" type="radio">
              <label class="radio" for="r11">В зависимости от разовых задач и объемов</label>
            </li>
          </ul>
        </div>
        <h4 id="c_q_w">5. Ваши комментарии, вопросы, пожелания</h4>
        <div class="form-row clearfix textbox">
          <label class="req" for="comments">5.1 Ваши комментарии</label>
          <textarea class="comments" id="comments" name="comments" rows="15" cols="50" placeholder="Введите коментарии"></textarea>
        </div>
        <div class="form-row clearfix textbox">
          <label class="req" for="questions">5.2 Ваши вопросы</label>
          <textarea class="questions" id="questions" name="questions" rows="15" cols="50" placeholder="Введите вопросы"></textarea>
        </div>
        <div class="form-row clearfix textbox">
          <label class="req" for="wishes">5.1 Ваши пожелания</label>
          <textarea class="wishes" id="wishes" name="wishes" rows="15" cols="50" placeholder="Введите пожелания"></textarea>
        </div>
        <input type="text" name="_gotcha" style="display:none;">
        <div id="form-note">
          <div class="alert alert-error"><strong>Error</strong>: Please check your entries!</div>
        </div>
        <div class="form-row form-submit">
          <input class="submit" type="submit" name="Send" value="Отправить бриф">
        </div> 
        <input type="hidden" name="subject" value="Contact Subject Pond html"> 
        <input type="hidden" name="fields" value="name,email,message,"> 
        <input type="hidden" name="sendto" value="YOUREMAIL">
      </form>
    </div>
    <aside class="aside">
      <ul class="brief_navigation">
        <li class="brief_navigation_li"><a class="brief_navigation_link" href="#client_information"><b>1. Информация о заказчике</b></a><i class="fa fa-folder-o" aria-hidden="true"></i><i class="fa fa-folder-open-o" aria-hidden="true"></i>
          <ul class="brief_subnavigation">
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#name"><em>1.1. Ваше имя и роль в компании: *</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#phone"><em>1.2. Номер телефона: *</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#email"><em>1.3. E-mail адрес *</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#company-name"><em>1.4. Название компании: *</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#company-activity"><em>1.5. Сфера деятельности компании:</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#products-services"><em>1.6. Услуги / продукты компании: *</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#site-domen"><em>1.7. Адрес текущего сайта (если есть):</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#new-site-domen"><em>1.8. Доменное имя для нового сайта (возможные варианты):</em></a></li>
          </ul>
        </li>
        <li class="brief_navigation_li"><a class="brief_navigation_link" href="#general_requirements"><b>2. Общие требования к сайту</b></a><i class="fa fa-folder-o" aria-hidden="true"></i><i class="fa fa-folder-open-o" aria-hidden="true"></i>
          <ul class="brief_subnavigation">
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#site-type"><em>2.1. Тип сайта: *</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#slogan"><em>2.2. Слоган компании либо рекламные фразы для использования на веб-сайте:</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#impression"><em>2.3. Какое впечатление о компании должно создаваться у пользователей сайта?</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#goal-auditory"><em>2.4. Целевая аудитория:</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#good-sites"><em>2.5. Пожалуйста, укажите два-три веб-сайта, которые Вам нравятся и почему: *</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#bad-sites"><em>2.6. Пожалуйста, укажите два-три веб-сайта, которые Вам НЕ нравятся и почему: *</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#your-bad-site"><em>2.7. Если у Вас уже есть веб-сайт, что Вам в нем нравится и НЕ нравится? *</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#your-bad-site-tasks"><em>2.8. Выполняет ли существующий сайт возложенные на него задачи? </em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#budget"><em>2.9. Укажите "вилку" предполагаемого бюджета на разработку сайта в $: *</em></a></li>
          </ul>
        </li>
        <li class="brief_navigation_li"><a class="brief_navigation_link" href="#appearance"><b>3. Внешний вид веб-сайта</b></a><i class="fa fa-folder-o" aria-hidden="true"></i><i class="fa fa-folder-open-o" aria-hidden="true"></i>
          <ul class="brief_subnavigation">
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#firm-elements"><em>3.1 Существующие элементы фирменного стиля компании:</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#visual-materials"><em>3.2 Какие визуальные материалы Вы можете предоставить для использования на сайте?</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#colors"><em>3.3 Есть ли у Вас особые предпочтения в отношении цветовой гаммы веб-сайта?</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#forbiden-colors"><em>3.4 Какие цвета категорически нельзя, с Вашей точки зрения, использовать на Вашем сайте?</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#site-look"><em>3.5 Как бы Вы охарактеризовали внешний вид будущего веб-сайта?</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#forbid"><em>3.6 Недопустимые к использованию символы, образы, слова</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#site-type"><em>3.7 Планируется ли использовть анимации и ефекты на сайте?</em></a></li>
          </ul>
        </li>
        <li class="brief_navigation_li"><a class="brief_navigation_link" href="#structure"><b>4. Содержание и структура веб-сайта</b></a><i class="fa fa-folder-o" aria-hidden="true"></i><i class="fa fa-folder-open-o" aria-hidden="true"></i>
          <ul class="brief_subnavigation">
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#content"><em>4.1. Какие материалы Вы можете предоставить для наполнения веб-сайта и в каком формате?</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#site-map"><em>4.2. Примерная карта сайта, возможные разделы: *</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#languages"><em>4.3. Планируется ли создание версий сайта на других языках помимо русского? На каких именно?</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#update-content"><em>4.4. Каким образом планируется обновлять материалы на сайте?</em></a></li>
          </ul>
        </li>
        <li class="brief_navigation_li"><a class="brief_navigation_link" href="#c_q_w"><b>5. Ваши комментарии, вопросы, пожелания</b></a><i class="fa fa-folder-o" aria-hidden="true"></i><i class="fa fa-folder-open-o" aria-hidden="true"></i>
          <ul class="brief_subnavigation">
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#comments"><em>5.1. Ваши комментарии</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#questions"><em>5.2. Ваши вопросы</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#wishes"><em>5.3. Ваши пожелания</em></a></li>
          </ul>
        </li>
      </ul>
    </aside>
  </div>
</main>
<div class="progressBar_container">
  <div class="progressBar"></div>
</div>
<footer>
  <div class="footer-inner align-center wrapper">
    <h6>МЫ ВСЕГДА РАДЫ СОТРУДНИЧЕСТВУ</h6><a id="backtotop" href="#">Наверх</a>
  </div>
</footer>
<div class="footer-pseudo" style="height:349px;"></div>

src/brief.pug
include templates/header.pug
section#hero.hero-big.parallax-section(data-parallax-image='images/hero-contact.jpg', style='position: relative;')
  .page-title
    h1.text-light
      strong Бриф
  .parallax-content(style='position:absolute;top:0;left:0;width:100%;height:100%;z-index:-1;overflow:hidden;')
    .parallax-image(style='background: url("images/hero-contact.jpg") center center / cover; width: 100%; height: 920px; position: absolute; top: -160px; transform: matrix(1, 0, 0, 1, 0, 0);')
main.middle.brief
  .content
    h3.align-center
      strong Бриф на создание сайта
    h6.alttitle.align-center Мы всегда рады создавать новые сайты
    .wrapper-small
      form#contact-form.ac-custom.ac-checkbox.ac-boxfill.ac-radio.ac-circle.checkform(action='https://formspree.io/galimuimail@gmail.com',  method="POST", autocomplete="off")
        h4#client_information 1. Информация о заказчике
        .form-row#f1.clearfix
          label.req(for='name') 1.1. Ваше имя и роль в компании: *
          input#name.name(type='text', name='name', value='', placeholder='ФИО и роль в компании' required)

        .form-row#f1_2.clearfix
          label.req(for='phone') 1.2. Номер телефона: *
          input#phone.phone(type='tel', name='phone', value='', placeholder='Номер телефона' required)

        .form-row#f1_3.clearfix
          label.req(for='_replyto') 1.3. E-mail адрес *
          input#email.email(type='email', name='_replyto', value='', placeholder='E-mail' required)

        .form-row#f1_4.clearfix
          label.req(for='company-name') 1.4. Название компании: *
          textarea#company-name.company-name(name='company-name', rows='15', cols='30', placeholder='Название компании' required)

        .form-row#f1_5.clearfix
          label(for='company-activity') 1.5. Сфера деятельности компании:
          textarea#company-activity.company-activity(name='company-activity', rows='15', cols='30', placeholder='Сфера деятельности')

        .form-row#f4.clearfix
          label.req(for='products-services') 1.6. Услуги / продукты компании: *
          input#products-services.products-services(type='text', name='products-services', value='', placeholder='Услуги/продукты' required)

        .form-row#f5.clearfix
          label(for='site-domen') Адрес текущего сайта (если есть):
          input#site-domen.site-domen(type='text', name='site-domen', value='', placeholder='http://' )

        .form-row#f6.clearfix
          label(for='new-site-domen') Доменное имя для нового сайта (возможные варианты):
          textarea#new-site-domen.new-site-domen(name='new-site-domen', rows='15', cols='30', placeholder='Возможные домены нового сайта')

        h4#general_requirements 2. Общие требования к сайту
        .form-row#f7.clearfix
          label#site-type.req Тип сайта: * 
          ul
            li
              input#cb1(name='lending', type='checkbox')
              label(for='cb1') Лендинг
            li
              input#cb2(name='visitka', type='checkbox')
              label(for='cb2') Визитка
            li
              input#cb3(name='katalog', type='checkbox')
              label(for='cb3') Каталог
            li
              input#cb4(name='shop', type='checkbox')
              label(for='cb4') Интернет магазин
            li
              input#cb5(name='portal', type='checkbox')
              label(for='cb5') Портал

        .form-row#f6.clearfix
          label(for='slogan') Слоган компании либо рекламные фразы для использования на веб-сайте:
          textarea#slogan.slogan(name='slogan', rows='15', cols='30', placeholder='Слоган, фразы')

        .form-row.clearfix.textbox
          label(for='impression') Какое впечатление о компании должно создаваться у пользователей сайта?
          textarea#impression.impression(name='impression', rows='15', cols='30', placeholder='Впечатление')

        .form-row.clearfix.textbox
          label(for='goal-auditory') Целевая аудитория:
          input#goal-auditory.goal-auditory(type='text', name='goal-auditory', value='', placeholder='Целевая аудитория')

        .form-row.clearfix.textbox
          label.req(for='good-sites') Пожалуйста, укажите два-три веб-сайта, которые Вам нравятся и почему: *
          textarea#good-sites.good-sites(name='good-sites', rows='15', cols='50', placeholder='Сайты' required)

        .form-row.clearfix.textbox
          label.req(for='bad-sites') Пожалуйста, укажите два-три веб-сайта, которые Вам <span class="colored">НЕ</span> нравятся и почему: *
          textarea#bad-sites.bad-sites(name='bad-sites', rows='15', cols='50', placeholder='Сайты, которые НЕ нравятся' required)

        .form-row.clearfix.textbox
          label.req(for='your-bad-site') Если у Вас уже есть веб-сайт, что Вам в нем нравится и НЕ нравится?
          textarea#your-bad-site.your-bad-site(name='your-bad-site', rows='15', cols='50', placeholder='Нравится и НЕ нравится')
        .form-row#f7.clearfix
          label#your-bad-site-tasks Выполняет ли существующий сайт возложенные на него задачи?
          ul
            li
              input#r1(name='dotasks', type='radio')
              label.radio(for='r1') Да
            li
              input#r2(name='dotasks', type='radio')
              label.radio(for='r2') Нет
            li
              input#r3(name='dotasks', type='radio')
              label.radio(for='r3') Частично

        .form-row.clearfix.textbox
          label.req(for='budget') Укажите "вилку" предполагаемого бюджета на разработку сайта в $: *
          input#budget.budget(type='text', name='budget', value='', placeholder="Укажите бюджет в $" required)

        h4#appearance 3. Внешний вид веб-сайта

        .form-row.clearfix.textbox
          label.req(for='firm-elements') 3.1 Существующие элементы фирменного стиля компании: 
          textarea#firm-elements.firm-elements(name='firm-elements', rows='15', cols='50', placeholder='Есть ли у вас Логотип? Шрифты? Фирменные цвета? Что то другое?')

        .form-row.clearfix.textbox
          label.req(for='visual-materials') 3.2 Какие визуальные материалы Вы можете предоставить для использования на сайте? 
          textarea#visual-materials.visual-materials(name='visual-materials', rows='15', cols='50', placeholder='Визуальные материалы')

        .form-row.clearfix.textbox
          label.req(for='colors') 3.3 Есть ли у Вас особые предпочтения в отношении цветовой гаммы веб-сайта? 
          textarea#colors.colors(name='colors', rows='15', cols='50', placeholder='Цветовая гама сайта')

        .form-row.clearfix.textbox
          label.req(for='forbiden-colors') 3.4 Какие цвета категорически нельзя, с Вашей точки зрения, использовать на Вашем сайте?
          textarea#forbiden-colors.forbiden-colors(name='forbiden-colors', rows='15', cols='50', placeholder='Цвета которые нельзя использовать')

        .form-row.clearfix.textbox
          label.req(for='site-look') 3.5 Как бы Вы охарактеризовали внешний вид будущего веб-сайта?
          input#site-look.site-look(type='text', name='site-look', value='', placeholder="Пожалуйста, приведите несколько эпитетов, например: строгий / элегантный / провокационный / вычурный и т.п.")

        .form-row.clearfix.textbox
          label.req(for='forbid') 3.6 Недопустимые к использованию символы, образы, слова
          textarea#forbid.forbid(name='forbid', rows='15', cols='50', placeholder='Недопустимые к использованию символы, образы, слова')
        .form-row#f7.clearfix
          label#animations.req 3.7 Планируется ли использовть анимации и ефекты на сайте?
          ul
            li
              input#r4(name='animations', type='radio')
              label.radio(for='r4') Да, много красивых анимаций и ефектов
            li
              input#r5(name='animations', type='radio')
              label.radio(for='r5') Да, умеренно красивых анимаций и ефектов
            li
              input#r6(name='animations', type='radio')
              label.radio(for='r6') Да, мало. Элегантные анимации и ефекты
            li
              input#r7(name='animations', type='radio')
              label.radio(for='r7') Нет

        h4#structure 4. Содержание и структура веб-сайта
        .form-row.clearfix.textbox
          label.req(for='content') 4.1 Какие материалы Вы можете предоставить для наполнения веб-сайта и в каком формате?
          textarea#content.content(name='content', rows='15', cols='50', placeholder='Укажите материалы и их формат')
        .form-row.clearfix.textbox
          label.req(for='site-map') 4.2 Примерная карта сайта, возможные разделы: *
          textarea#site-map.site-map(name='site-map', rows='15', cols='50', placeholder='Например «о компании», «каталог продукции», «контакты»….' required)
        .form-row.clearfix.textbox
          label.req(for='languages') 4.3 Планируется ли создание версий сайта на других языках помимо русского? На каких именно?
          textarea#languages.languages(name='languages', rows='15', cols='50', placeholder='Языки')

        .form-row#f7.clearfix
          label#update-content.req 4.4 Каким образом планируется обновлять материалы на сайте?
          ul
            li
              input#r8(name='animations', type='radio')
              label.radio(for='r8') IT-специалисты
            li
              input#r9(name='animations', type='radio')
              label.radio(for='r9') Неспециалисты
            li
              input#r10(name='animations', type='radio')
              label.radio(for='r10') Планируется использовать услуги сторонних фирм или частных лиц
            li
              input#r11(name='animations', type='radio')
              label.radio(for='r11') В зависимости от разовых задач и объемов
        h4#c_q_w 5. Ваши комментарии, вопросы, пожелания
        .form-row.clearfix.textbox
          label.req(for='comments') 5.1 Ваши комментарии
          textarea#comments.comments(name='comments', rows='15', cols='50', placeholder='Введите коментарии')
        .form-row.clearfix.textbox
          label.req(for='questions') 5.2 Ваши вопросы
          textarea#questions.questions(name='questions', rows='15', cols='50', placeholder='Введите вопросы')
        .form-row.clearfix.textbox
          label.req(for='wishes') 5.1 Ваши пожелания
          textarea#wishes.wishes(name='wishes', rows='15', cols='50', placeholder='Введите пожелания')


        input(type="text", name="_gotcha", style="display:none")
        #form-note
          .alert.alert-error
            strong Error
            | : Please check your entries!
        .form-row.form-submit
          input.submit(type='submit', name='Send', value='Отправить бриф')
        |  
        input(type='hidden', name='subject', value='Contact Subject Pond html')
        |  
        input(type='hidden', name='fields', value='name,email,message,')
        |  
        input(type='hidden', name='sendto', value='YOUREMAIL')
    aside.aside
      ul.brief_navigation
          li.brief_navigation_li
            a.brief_navigation_link(href='#client_information')
              b 1. Информация о заказчике
            i.fa.fa-folder-o(aria-hidden="true")
            i.fa.fa-folder-open-o(aria-hidden="true")
            ul.brief_subnavigation
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#name')
                  em 1.1. Ваше имя и роль в компании: *
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#phone')
                  em 1.2. Номер телефона: *
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#email')
                  em 1.3. E-mail адрес *
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#company-name')
                  em 1.4. Название компании: *
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#company-activity')
                  em 1.5. Сфера деятельности компании:
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#products-services')
                  em 1.6. Услуги / продукты компании: *
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#site-domen')
                  em 1.7. Адрес текущего сайта (если есть):
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#new-site-domen')
                  em 1.8. Доменное имя для нового сайта (возможные варианты):
          li.brief_navigation_li
            a.brief_navigation_link(href='#general_requirements')
              b 2. Общие требования к сайту
            i.fa.fa-folder-o(aria-hidden="true")
            i.fa.fa-folder-open-o(aria-hidden="true")
            ul.brief_subnavigation
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#site-type')
                  em 2.1. Тип сайта: *
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#slogan')
                  em 2.2. Слоган компании либо рекламные фразы для использования на веб-сайте:
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#impression')
                  em 2.3. Какое впечатление о компании должно создаваться у пользователей сайта?
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#goal-auditory')
                  em 2.4. Целевая аудитория:
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#good-sites')
                  em 2.5. Пожалуйста, укажите два-три веб-сайта, которые Вам нравятся и почему: *
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#bad-sites')
                  em 2.6. Пожалуйста, укажите два-три веб-сайта, которые Вам НЕ нравятся и почему: *
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#your-bad-site')
                  em 2.7. Если у Вас уже есть веб-сайт, что Вам в нем нравится и НЕ нравится? *
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#your-bad-site-tasks')
                  em 2.8. Выполняет ли существующий сайт возложенные на него задачи? 
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#budget')
                  em 2.9. Укажите "вилку" предполагаемого бюджета на разработку сайта в $: *
          li.brief_navigation_li
            a.brief_navigation_link(href='#appearance')
              b 3. Внешний вид веб-сайта
            i.fa.fa-folder-o(aria-hidden="true")
            i.fa.fa-folder-open-o(aria-hidden="true")
            ul.brief_subnavigation
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#firm-elements')
                  em 3.1 Существующие элементы фирменного стиля компании:
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#visual-materials')
                  em 3.2 Какие визуальные материалы Вы можете предоставить для использования на сайте?
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#colors')
                  em 3.3 Есть ли у Вас особые предпочтения в отношении цветовой гаммы веб-сайта?
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#forbiden-colors')
                  em 3.4 Какие цвета категорически нельзя, с Вашей точки зрения, использовать на Вашем сайте?
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#site-look')
                  em 3.5 Как бы Вы охарактеризовали внешний вид будущего веб-сайта?
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#forbid')
                  em 3.6 Недопустимые к использованию символы, образы, слова
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#site-type')
                  em 3.7 Планируется ли использовть анимации и ефекты на сайте?
          li.brief_navigation_li
            a.brief_navigation_link(href='#structure')
              b 4. Содержание и структура веб-сайта
            i.fa.fa-folder-o(aria-hidden="true")
            i.fa.fa-folder-open-o(aria-hidden="true")
            ul.brief_subnavigation
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#content')
                  em 4.1. Какие материалы Вы можете предоставить для наполнения веб-сайта и в каком формате?
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#site-map')
                  em 4.2. Примерная карта сайта, возможные разделы: *
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#languages')
                  em 4.3. Планируется ли создание версий сайта на других языках помимо русского? На каких именно?
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#update-content')
                  em 4.4. Каким образом планируется обновлять материалы на сайте?
          li.brief_navigation_li
            a.brief_navigation_link(href='#c_q_w')
              b 5. Ваши комментарии, вопросы, пожелания
            i.fa.fa-folder-o(aria-hidden="true")
            i.fa.fa-folder-open-o(aria-hidden="true")
            ul.brief_subnavigation
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#comments')
                  em 5.1. Ваши комментарии
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#questions')
                  em 5.2. Ваши вопросы
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#wishes')
                  em 5.3. Ваши пожелания

.progressBar_container
  .progressBar
include templates/footer.pug
