dist/contacts.html
<!DOCTYPE html>
<html>
  <head>
    <title>My Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa:400,700&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Maven+Pro:400,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="css/bundle.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
    <script src="js/bundle.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="header_inner">
        <div class="header_logo"><a href="/dist">Scr1pt</a></div>
        <nav class="header_navigation"><a class="header_navigation_button" href="#"><span class="sandwich"></span><span class="text">Меню</span></a>
          <ul class="header_navigation_list">
            <li><a href="/dist">Главная</a></li>
            <li><a href="/dist">Портфолио</a>
              <ul class="submenu">
                <li><a href="/dist/good-goal.html">Good Goal </a></li>
                <li><a href="/dist/craft-shop.html">Craft Shop </a></li>
                <li><a href="/dist/yondo!.html">Yondo! </a></li>
                <li><a href="/dist/pechi.html">Losa GmbH </a></li>
              </ul>
            </li>
            <li><a href="/dist/brief.html">Бриф</a></li>
            <li><a href="/dist/contacts.html">Контакты</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
<section class="hero-big parallax-section" id="hero" data-parallax-image="images/hero-contact.jpg" style="position: relative;">
  <div class="page-title">
    <h1 class="text-light"><strong>Здравствуйте</strong></h1>
  </div>
  <div class="parallax-content" style="position:absolute;top:0;left:0;width:100%;height:100%;z-index:-1;overflow:hidden;">
    <div class="parallax-image" style="background: url(&quot;images/hero-contact.jpg&quot;) center center / cover; width: 100%; height: 920px; position: absolute; top: -160px; transform: matrix(1, 0, 0, 1, 0, 0);"></div>
  </div>
</section>
<main class="middle">
  <div class="content">
    <div class="wrapper-small">
      <h3 class="align-center"><strong>Давайте пообщаемся ...</strong></h3>
      <h6 class="alttitle align-center">Мы всегда рады новым контактам</h6>
      <form class="checkform" id="contact-form" action="https://formspree.io/galimuimail@gmail.com" method="POST">
        <div class="form-row clearfix">
          <label class="req" for="name">Имя *</label> 
          <input class="name" id="name" type="text" name="name" value="" placeholder="Имя" required>
        </div>
        <div class="form-row clearfix">
          <label class="req" for="_replyto">Email *</label> 
          <input class="email" id="email" type="email" name="_replyto" value="" placeholder="Email" required>
        </div>
        <div class="form-row clearfix">
          <label class="req" for="phone">Телефон *</label> 
          <input class="email" id="email" type="tel" name="phone" value="" placeholder="Телефон" required>
        </div>
        <div class="form-row clearfix textbox">
          <label class="req" for="message">Сообщение *</label>
          <textarea class="message" id="message" name="message" rows="15" cols="50" placeholder="Сообщение" required></textarea>
        </div>
        <input type="text" name="_gotcha" style="display:none;">
        <div id="form-note">
          <div class="alert alert-error"><strong>Ошибка</strong>: Пожалуйста проверьте ваши данные!</div>
        </div>
        <div class="form-row form-submit">
          <input class="submit" type="submit" name="Send" value="Отправить сообщение">
        </div> 
        <input type="hidden" name="subject" value="Contact Subject Pond html"> 
        <input type="hidden" name="fields" value="name,email,message,"> 
        <input type="hidden" name="sendto" value="YOUREMAIL">
      </form>
    </div>
  </div>
</main>
<footer>
  <div class="footer-inner align-center wrapper">
    <h6>МЫ ВСЕГДА РАДЫ СОТРУДНИЧЕСТВУ</h6><a id="backtotop" href="#">Наверх</a>
  </div>
</footer>
<div class="footer-pseudo" style="height:349px;"></div>

src/contacts.pug
include templates/header.pug
section#hero.hero-big.parallax-section(data-parallax-image='images/hero-contact.jpg', style='position: relative;')
	.page-title
		h1.text-light
			strong Здравствуйте
	.parallax-content(style='position:absolute;top:0;left:0;width:100%;height:100%;z-index:-1;overflow:hidden;')
		.parallax-image(style='background: url("images/hero-contact.jpg") center center / cover; width: 100%; height: 920px; position: absolute; top: -160px; transform: matrix(1, 0, 0, 1, 0, 0);')
main.middle
	.content
		.wrapper-small
			h3.align-center
				strong Давайте пообщаемся ...
			h6.alttitle.align-center Мы всегда рады новым контактам
			form#contact-form.checkform(action='https://formspree.io/galimuimail@gmail.com',  method="POST")
				.form-row.clearfix
					label.req(for='name') Имя *
					|  
					input#name.name(type='text', name='name', value='', placeholder='Имя' required)
				.form-row.clearfix
					label.req(for='_replyto') Email *
					|  
					input#email.email(type='email', name='_replyto', value='', placeholder='Email' required)
				.form-row.clearfix
					label.req(for='phone') Телефон *
					|  
					input#email.email(type='tel', name='phone', value='', placeholder='Телефон' required)
				.form-row.clearfix.textbox
					label.req(for='message') Сообщение *
					textarea#message.message(name='message', rows='15', cols='50', placeholder='Сообщение' required)
				input(type="text", name="_gotcha", style="display:none")
				#form-note
					.alert.alert-error
						strong Ошибка
						| : Пожалуйста проверьте ваши данные!
				.form-row.form-submit
					input.submit(type='submit', name='Send', value='Отправить сообщение')
				|  
				input(type='hidden', name='subject', value='Contact Subject Pond html')
				|  
				input(type='hidden', name='fields', value='name,email,message,')
				|  
				input(type='hidden', name='sendto', value='YOUREMAIL')
include templates/footer.pug
