src/index.pug
include templates/header.pug
#hero.hero-big
	.owl-carousel.myslider(data-autoplay="true")
		.myslider_item(style="background-image:url(images/slider9.jpg);")
			.myslider_caption.is_active
				h1
					strong Веб-дизайн
				h5.altitile создание современных дизайнов
		.myslider_item.text-light(style="background-image:url(images/slider7.jpg);")
			.myslider_caption
				h1
					strong Разработка сайтов
				h5.altitile веб-разработка сайтов под ключ
		.myslider_item.text-light(style="background-image:url(images/slider3.jpg);")
			.myslider_caption
				h1
					strong Креативные идеи
				h5.altitile 
main.middle
	.content
		#portfolio-grid.wolf-grid.wolf-container.wolf-parallax(data-randomhorizontaloffset='true', data-mouseparallax='true')
			.wolf-item.portfolio-wolf-item.branding.wleft.vcenter(style="height: 511px; left: -44px;")
				.wolf-mouseparallax
					.wolf-item-inner
						.wolf-media.portfolio-media
							a.wolf-media-link(href='good-goal.html')
								img(src='images/1good-goal/top.jpg', alt='SEO NAME')
							.wolf-caption.portfolio-caption
								.wolf-caption-inner
									a.wolf-caption-link(href='good-goal.html')
										h6.alttitle.portfolio-category Разработка и продвижение
										h4.portfolio-name
											strong Good Goal
			.wolf-item.portfolio-wolf-item.photography.wright(style="height: 511px; left: 30px;")
				.wolf-mouseparallax
					.wolf-item-inner
						.wolf-media.portfolio-media
							a.wolf-media-link(href='craft-shop.html')
								img(src='images/2craft-shop/top.jpg', alt='SEO NAME')
							.wolf-caption.portfolio-caption
								.wolf-caption-inner
									a.wolf-caption-link(href='craft-shop.html')
										h6.alttitle.portfolio-category Разработка дизайна
										h4.portfolio-name
											strong Craft-Shop
			.wolf-item.portfolio-wolf-item.photography.wleft(style="height: 425px; left: 66px;")
				.wolf-mouseparallax
					.wolf-item-inner
						.wolf-media.portfolio-media
							a.wolf-media-link(href='yondo!.html')
								img(src='images/3yondo!/top.jpg', alt='SEO NAME')
							.wolf-caption.portfolio-caption
								.wolf-caption-inner
									a.wolf-caption-link(href='yondo!.html')
										h6.alttitle.portfolio-category Разработка дизайна
										h4.portfolio-name
											strong Yondo!
			.wolf-item.portfolio-wolf-item.print.wright.vcenter(style="height: 425px; left: 54px;")
				.wolf-mouseparallax
					.wolf-item-inner
						.wolf-media.portfolio-media
							a.wolf-media-link(href='pechi.html')
								img(src='images/4pechi/top.jpg', alt='SEO NAME')
							.wolf-caption.portfolio-caption
								.wolf-caption-inner
									a.wolf-caption-link(href='pechi.html')
										h6.alttitle.portfolio-category Разработка
										h4.portfolio-name
											strong Losa GmbH
			//- .wolf-item.portfolio-wolf-item.branding.wleft.vcenter(style="height: 595px; left: -44px;")
			//- 	.wolf-mouseparallax
			//- 		.wolf-item-inner
			//- 			.wolf-media.portfolio-media
			//- 				a.wolf-media-link(href='portfolio.html')
			//- 					img(src='images/thumbnail-brucke.jpg', alt='SEO NAME')
			//- 				.wolf-caption.cbottom.portfolio-caption
			//- 					.wolf-caption-inner
			//- 						a.wolf-caption-link(href='portfolio.html')
			//- 							h6.alttitle.portfolio-category Branding
			//- 							h4.portfolio-name
			//- 								strong
			//- 									| Br&uuml;cke
			//- 									br
			//- 									| Bier
			//- .wolf-item.portfolio-wolf-item.branding.wright(style="height: 595px; left: 37px;")
			//- 	.wolf-mouseparallax
			//- 		.wolf-item-inner
			//- 			.wolf-media.portfolio-media
			//- 				a.wolf-media-link(href='portfolio.html')
			//- 					img(src='images/thumbnail-chair.jpg', alt='SEO NAME')
			//- 				.wolf-caption.portfolio-caption
			//- 					.wolf-caption-inner
			//- 						a.wolf-caption-link(href='portfolio.html')
			//- 							h6.alttitle.portfolio-category Branding
			//- 							h4.portfolio-name
			//- 								strong
			//- 									| Modern
			//- 									br
			//- 									| Wood Chair
			//- .wolf-item.portfolio-wolf-item.print.wleft(style="height: 425px; left: -60px;")
			//- 	.wolf-mouseparallax
			//- 		.wolf-item-inner
			//- 			.wolf-media.portfolio-media
			//- 				a.wolf-media-link(href='portfolio.html')
			//- 					img(src='images/thumbnail-shoepackage.jpg', alt='SEO NAME')
			//- 				.wolf-caption.portfolio-caption
			//- 					.wolf-caption-inner
			//- 						a.wolf-caption-link(href='portfolio.html')
			//- 							h6.alttitle.portfolio-category Print
			//- 							h4.portfolio-name
			//- 								strong
			//- 									| Skins Shoe
			//- 									br
			//- 									| Package
			//- .wolf-item.portfolio-wolf-item.print.wright.vcenter(style="height: 425px; left: -60px;")
			//- 	.wolf-mouseparallax
			//- 		.wolf-item-inner
			//- 			.wolf-media.portfolio-media
			//- 				a.wolf-media-link(href='portfolio.html')
			//- 					img(src='images/thumbnail-sixteenfrans.jpg', alt='SEO NAME')
			//- 				.wolf-caption.portfolio-caption
			//- 					.wolf-caption-inner
			//- 						a.wolf-caption-link(href='portfolio.html')
			//- 							h6.alttitle.portfolio-category Print
			//- 							h4.portfolio-name
			//- 								strong
			//- 									| Sixteen &amp;
			//- 									br
			//- 									| Frans
include templates/footer.pug

dist/index.html
<!DOCTYPE html>
<html>
  <head>
    <title>My Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa:400,700&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Maven+Pro:400,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="css/bundle.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
    <script src="js/bundle.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="header_inner">
        <div class="header_logo"><a href="/dist">Scr1pt</a></div>
        <nav class="header_navigation"><a class="header_navigation_button" href="#"><span class="sandwich"></span><span class="text">Меню</span></a>
          <ul class="header_navigation_list">
            <li><a href="/dist">Главная</a></li>
            <li><a href="/dist">Портфолио</a>
              <ul class="submenu">
                <li><a href="/dist/good-goal.html">Good Goal </a></li>
                <li><a href="/dist/craft-shop.html">Craft Shop </a></li>
                <li><a href="/dist/yondo!.html">Yondo! </a></li>
                <li><a href="/dist/pechi.html">Losa GmbH </a></li>
              </ul>
            </li>
            <li><a href="/dist/brief.html">Бриф</a></li>
            <li><a href="/dist/contacts.html">Контакты</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
<div class="hero-big" id="hero">
  <div class="owl-carousel myslider" data-autoplay="true">
    <div class="myslider_item" style="background-image:url(images/slider9.jpg);">
      <div class="myslider_caption is_active">
        <h1><strong>Веб-дизайн</strong></h1>
        <h5 class="altitile">создание современных дизайнов</h5>
      </div>
    </div>
    <div class="myslider_item text-light" style="background-image:url(images/slider7.jpg);">
      <div class="myslider_caption">
        <h1><strong>Разработка сайтов</strong></h1>
        <h5 class="altitile">веб-разработка сайтов под ключ</h5>
      </div>
    </div>
    <div class="myslider_item text-light" style="background-image:url(images/slider3.jpg);">
      <div class="myslider_caption">
        <h1><strong>Креативные идеи</strong></h1>
        <h5 class="altitile"> </h5>
      </div>
    </div>
  </div>
</div>
<main class="middle">
  <div class="content">
    <div class="wolf-grid wolf-container wolf-parallax" id="portfolio-grid" data-randomhorizontaloffset="true" data-mouseparallax="true">
      <div class="wolf-item portfolio-wolf-item branding wleft vcenter" style="height: 511px; left: -44px;">
        <div class="wolf-mouseparallax">
          <div class="wolf-item-inner">
            <div class="wolf-media portfolio-media"><a class="wolf-media-link" href="good-goal.html"><img src="images/1good-goal/top.jpg" alt="SEO NAME"></a>
              <div class="wolf-caption portfolio-caption">
                <div class="wolf-caption-inner"><a class="wolf-caption-link" href="good-goal.html">
                    <h6 class="alttitle portfolio-category">Разработка и продвижение</h6>
                    <h4 class="portfolio-name"><strong>Good Goal</strong></h4></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wolf-item portfolio-wolf-item photography wright" style="height: 511px; left: 30px;">
        <div class="wolf-mouseparallax">
          <div class="wolf-item-inner">
            <div class="wolf-media portfolio-media"><a class="wolf-media-link" href="craft-shop.html"><img src="images/2craft-shop/top.jpg" alt="SEO NAME"></a>
              <div class="wolf-caption portfolio-caption">
                <div class="wolf-caption-inner"><a class="wolf-caption-link" href="craft-shop.html">
                    <h6 class="alttitle portfolio-category">Разработка дизайна</h6>
                    <h4 class="portfolio-name"><strong>Craft-Shop</strong></h4></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wolf-item portfolio-wolf-item photography wleft" style="height: 425px; left: 66px;">
        <div class="wolf-mouseparallax">
          <div class="wolf-item-inner">
            <div class="wolf-media portfolio-media"><a class="wolf-media-link" href="yondo!.html"><img src="images/3yondo!/top.jpg" alt="SEO NAME"></a>
              <div class="wolf-caption portfolio-caption">
                <div class="wolf-caption-inner"><a class="wolf-caption-link" href="yondo!.html">
                    <h6 class="alttitle portfolio-category">Разработка дизайна</h6>
                    <h4 class="portfolio-name"><strong>Yondo!</strong></h4></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wolf-item portfolio-wolf-item print wright vcenter" style="height: 425px; left: 54px;">
        <div class="wolf-mouseparallax">
          <div class="wolf-item-inner">
            <div class="wolf-media portfolio-media"><a class="wolf-media-link" href="pechi.html"><img src="images/4pechi/top.jpg" alt="SEO NAME"></a>
              <div class="wolf-caption portfolio-caption">
                <div class="wolf-caption-inner"><a class="wolf-caption-link" href="pechi.html">
                    <h6 class="alttitle portfolio-category">Разработка</h6>
                    <h4 class="portfolio-name"><strong>Losa GmbH</strong></h4></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer>
  <div class="footer-inner align-center wrapper">
    <h6>МЫ ВСЕГДА РАДЫ СОТРУДНИЧЕСТВУ</h6><a id="backtotop" href="#">Наверх</a>
  </div>
</footer>
<div class="footer-pseudo" style="height:349px;"></div>
