dist/pechi.html
<!DOCTYPE html>
<html>
  <head>
    <title>My Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa:400,700&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Maven+Pro:400,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="css/bundle.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
    <script src="js/bundle.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="header_inner">
        <div class="header_logo"><a href="/dist">Scr1pt</a></div>
        <nav class="header_navigation"><a class="header_navigation_button" href="#"><span class="sandwich"></span><span class="text">Меню</span></a>
          <ul class="header_navigation_list">
            <li><a href="/dist">Главная</a></li>
            <li><a href="/dist">Портфолио</a>
              <ul class="submenu">
                <li><a href="/dist/good-goal.html">Good Goal </a></li>
                <li><a href="/dist/craft-shop.html">Craft Shop </a></li>
                <li><a href="/dist/yondo!.html">Yondo! </a></li>
                <li><a href="/dist/pechi.html">Losa GmbH </a></li>
              </ul>
            </li>
            <li><a href="/dist/brief.html">Бриф</a></li>
            <li><a href="/dist/contacts.html">Контакты</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
<section class="hero-auto portfolio" id="hero">
  <div class="page-title wrapper">
    <div class="wolf-grid clearfix wolf-container wolf-parallax" id="wolf-title">
      <div class="wolf-item wfull wright wolf-text" data-speed="2" style="height: 500px;">
        <div class="wolf-item-inner" style="margin-top: 0px;">
          <div class="wolf-media" style="top: -108px;"><img src="images/4pechi/h1.jpg" alt="SEO NAME"></div>
          <div class="wolf-caption ctop" style="width:60%;">
            <div class="wolf-caption-inner">
              <h5 class="alttitle">Разработка</h5>
              <h1><strong>Losa GmbH</strong></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="nopadding" id="page-body">
  <div class="wrapper-mini">
    <h6><strong>Идея</strong></h6>
    <p>Сайт-каталог партнеров компании Losa GmbH, специализирующихся на ремонте производственных печей и тепловых агрегатов.</p>
    <h6><strong>Функционал</strong></h6>
    <p>Возможность заказа продукции.<br>Удобный доступ к справочной информации</p>
    <div class="spacer spacer-big"></div>
  </div>
  <div class="wrapper">
    <ul class="gallery gallery-col2 spaced">
      <li class="has-animation"><img src="images/4pechi/slide1.jpg" alt="SEO NAME"></li>
      <li class="has-animation" data-delay="200"><img src="images/4pechi/slide2.jpg" alt="SEO NAME"></li>
    </ul>
    <ul class="gallery spaced">
      <li class="has-animation"><img src="images/4pechi/bigslide.jpg" alt="SEO NAME"></li>
    </ul>
    <ul class="gallery gallery-col2 spaced">
      <li class="has-animation"><img src="images/4pechi/slide4.jpg" alt="SEO NAME"></li>
      <li class="has-animation" data-delay="200"><img src="images/4pechi/slide5.jpg" alt="SEO NAME"></li>
    </ul>
    <ul class="gallery spaced">
      <li class="has-animation"><img src="images/4pechi/full.jpg" alt="SEO NAME"></li>
    </ul>
  </div>
  <div class="wrapper"></div>
  <ul class="single-pagination">
    <li class="prev" style="margin-top: 45.5px;"><a href="yondo!.html"><img src="images/4pechi/previous.jpg" alt="prev"><span>Предыдущий проект</span></a></li>
    <li class="backtoworks"><a href="index.html">Назад к роботам</a></li>
    <li class="next"><a href="good-goal.html"><img src="images/4pechi/next.jpg" alt="next"><span>Следующий проект</span></a></li>
  </ul>
</section>
<footer>
  <div class="footer-inner align-center wrapper">
    <h6>МЫ ВСЕГДА РАДЫ СОТРУДНИЧЕСТВУ</h6><a id="backtotop" href="#">Наверх</a>
  </div>
</footer>
<div class="footer-pseudo" style="height:349px;"></div>

src/pechi.pug
include templates/header.pug
section#hero.hero-auto.portfolio
  .page-title.wrapper
    #wolf-title.wolf-grid.clearfix.wolf-container.wolf-parallax
      .wolf-item.wfull.wright.wolf-text(data-speed='2', style='height: 500px;')
        .wolf-item-inner(style='margin-top: 0px;')
          .wolf-media(style='top: -108px;')
            img(src='images/4pechi/h1.jpg', alt='SEO NAME')
          .wolf-caption.ctop(style='width:60%;')
            .wolf-caption-inner
              h5.alttitle Разработка
              h1
                strong Losa GmbH
section#page-body.nopadding
  .wrapper-mini
    h6
      strong Идея
    p
      | Сайт-каталог партнеров компании Losa GmbH, специализирующихся на ремонте производственных печей и тепловых агрегатов.
    h6
      strong Функционал
    p
      | Возможность заказа продукции.
      br
      | Удобный доступ к справочной информации
    .spacer.spacer-big
  .wrapper
    ul.gallery.gallery-col2.spaced
      li.has-animation
        img(src='images/4pechi/slide1.jpg', alt='SEO NAME')
      li.has-animation(data-delay='200')
        img(src='images/4pechi/slide2.jpg', alt='SEO NAME')
    ul.gallery.spaced
      li.has-animation
        img(src='images/4pechi/bigslide.jpg', alt='SEO NAME')
    ul.gallery.gallery-col2.spaced
      li.has-animation
        img(src='images/4pechi/slide4.jpg', alt='SEO NAME')
      li.has-animation(data-delay='200')
        img(src='images/4pechi/slide5.jpg', alt='SEO NAME')
    ul.gallery.spaced
      li.has-animation
        img(src='images/4pechi/full.jpg', alt='SEO NAME')
  .wrapper
  ul.single-pagination
    li.prev(style='margin-top: 45.5px;')
      a(href='yondo!.html')
        img(src='images/4pechi/previous.jpg', alt='prev')
        span Предыдущий проект
    li.backtoworks
      a(href='index.html') Назад к роботам
    li.next
      a(href='good-goal.html')
        img(src='images/4pechi/next.jpg', alt='next')
        span Следующий проект
include templates/footer.pug
