dist/techtask.html
<!DOCTYPE html>
<html>
  <head>
    <title>My Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa:400,700&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Maven+Pro:400,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="css/bundle.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
    <script src="js/bundle.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="header_inner">
        <div class="header_logo"><a href="/dist">Scr1pt</a></div>
        <nav class="header_navigation"><a class="header_navigation_button" href="#"><span class="sandwich"></span><span class="text">Меню</span></a>
          <ul class="header_navigation_list">
            <li><a href="/dist">Главная</a></li>
            <li><a href="/dist">Портфолио</a>
              <ul class="submenu">
                <li><a href="/dist/good-goal.html">Good Goal </a></li>
                <li><a href="/dist/craft-shop.html">Craft Shop </a></li>
                <li><a href="/dist/yondo!.html">Yondo! </a></li>
                <li><a href="/dist/pechi.html">Losa GmbH </a></li>
              </ul>
            </li>
            <li><a href="/dist/brief.html">Бриф</a></li>
            <li><a href="/dist/contacts.html">Контакты</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
<section class="hero-big parallax-section" id="hero" data-parallax-image="images/hero-contact.jpg" style="position: relative;">
  <div class="page-title">
    <h1 class="text-light"><strong>Техническое задание</strong></h1>
  </div>
  <div class="parallax-content" style="position:absolute;top:0;left:0;width:100%;height:100%;z-index:-1;overflow:hidden;">
    <div class="parallax-image" style="background: url(&quot;images/hero-contact.jpg&quot;) center center / cover; width: 100%; height: 920px; position: absolute; top: -160px; transform: matrix(1, 0, 0, 1, 0, 0);"></div>
  </div>
</section>
<main class="middle brief">
  <div class="content">
    <h3 class="align-center"><strong>Техническое задание на разработку сайта "Good Goal"</strong></h3>
    <h6 class="alttitle align-center">Мы всегда рады создавать новые сайты</h6>
    <div class="wrapper-small">
      <h4 id="client_information">1. Общие положения</h4>
    </div>
    <aside class="aside">
      <ul class="brief_navigation">
        <li class="brief_navigation_li"><a class="brief_navigation_link" href="#client_information"><b>1. Информация о заказчике</b></a><i class="fa fa-folder-o" aria-hidden="true"></i><i class="fa fa-folder-open-o" aria-hidden="true"></i>
          <ul class="brief_subnavigation">
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#name"><em>1.1. Ваше имя и роль в компании: *</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#phone"><em>1.2. Номер телефона: *</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#email"><em>1.3. E-mail адрес *</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#company-name"><em>1.4. Название компании: *</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#company-activity"><em>1.5. Сфера деятельности компании:</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#products-services"><em>1.6. Услуги / продукты компании: *</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#site-domen"><em>1.7. Адрес текущего сайта (если есть):</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#new-site-domen"><em>1.8. Доменное имя для нового сайта (возможные варианты):</em></a></li>
          </ul>
        </li>
        <li class="brief_navigation_li"><a class="brief_navigation_link" href="#general_requirements"><b>2. Общие требования к сайту</b></a><i class="fa fa-folder-o" aria-hidden="true"></i><i class="fa fa-folder-open-o" aria-hidden="true"></i>
          <ul class="brief_subnavigation">
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#site-type"><em>2.1. Тип сайта: *</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#slogan"><em>2.2. Слоган компании либо рекламные фразы для использования на веб-сайте:</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#impression"><em>2.3. Какое впечатление о компании должно создаваться у пользователей сайта?</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#goal-auditory"><em>2.4. Целевая аудитория:</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#good-sites"><em>2.5. Пожалуйста, укажите два-три веб-сайта, которые Вам нравятся и почему: *</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#bad-sites"><em>2.6. Пожалуйста, укажите два-три веб-сайта, которые Вам НЕ нравятся и почему: *</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#your-bad-site"><em>2.7. Если у Вас уже есть веб-сайт, что Вам в нем нравится и НЕ нравится? *</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#your-bad-site-tasks"><em>2.8. Выполняет ли существующий сайт возложенные на него задачи? </em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#budget"><em>2.9. Укажите "вилку" предполагаемого бюджета на разработку сайта в $: *</em></a></li>
          </ul>
        </li>
        <li class="brief_navigation_li"><a class="brief_navigation_link" href="#appearance"><b>3. Внешний вид веб-сайта</b></a><i class="fa fa-folder-o" aria-hidden="true"></i><i class="fa fa-folder-open-o" aria-hidden="true"></i>
          <ul class="brief_subnavigation">
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#firm-elements"><em>3.1 Существующие элементы фирменного стиля компании:</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#visual-materials"><em>3.2 Какие визуальные материалы Вы можете предоставить для использования на сайте?</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#colors"><em>3.3 Есть ли у Вас особые предпочтения в отношении цветовой гаммы веб-сайта?</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#forbiden-colors"><em>3.4 Какие цвета категорически нельзя, с Вашей точки зрения, использовать на Вашем сайте?</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#site-look"><em>3.5 Как бы Вы охарактеризовали внешний вид будущего веб-сайта?</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#forbid"><em>3.6 Недопустимые к использованию символы, образы, слова</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#site-type"><em>3.7 Планируется ли использовть анимации и ефекты на сайте?</em></a></li>
          </ul>
        </li>
        <li class="brief_navigation_li"><a class="brief_navigation_link" href="#structure"><b>4. Содержание и структура веб-сайта</b></a><i class="fa fa-folder-o" aria-hidden="true"></i><i class="fa fa-folder-open-o" aria-hidden="true"></i>
          <ul class="brief_subnavigation">
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#content"><em>4.1. Какие материалы Вы можете предоставить для наполнения веб-сайта и в каком формате?</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#site-map"><em>4.2. Примерная карта сайта, возможные разделы: *</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#languages"><em>4.3. Планируется ли создание версий сайта на других языках помимо русского? На каких именно?</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#update-content"><em>4.4. Каким образом планируется обновлять материалы на сайте?</em></a></li>
          </ul>
        </li>
        <li class="brief_navigation_li"><a class="brief_navigation_link" href="#c_q_w"><b>5. Ваши комментарии, вопросы, пожелания</b></a><i class="fa fa-folder-o" aria-hidden="true"></i><i class="fa fa-folder-open-o" aria-hidden="true"></i>
          <ul class="brief_subnavigation">
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#comments"><em>5.1. Ваши комментарии</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#questions"><em>5.2. Ваши вопросы</em></a></li>
            <li class="brief_navigation_subli"><a class="brief_navigation_sublink" href="#wishes"><em>5.3. Ваши пожелания</em></a></li>
          </ul>
        </li>
      </ul>
    </aside>
  </div>
</main>
<div class="progressBar_container">
  <div class="progressBar"></div>
</div>
<footer>
  <div class="footer-inner align-center wrapper">
    <h6>МЫ ВСЕГДА РАДЫ СОТРУДНИЧЕСТВУ</h6><a id="backtotop" href="#">Наверх</a>
  </div>
</footer>
<div class="footer-pseudo" style="height:349px;"></div>

src/techtask.pug
include templates/header.pug
section#hero.hero-big.parallax-section(data-parallax-image='images/hero-contact.jpg', style='position: relative;')
  .page-title
    h1.text-light
      strong Техническое задание
  .parallax-content(style='position:absolute;top:0;left:0;width:100%;height:100%;z-index:-1;overflow:hidden;')
    .parallax-image(style='background: url("images/hero-contact.jpg") center center / cover; width: 100%; height: 920px; position: absolute; top: -160px; transform: matrix(1, 0, 0, 1, 0, 0);')
main.middle.brief
  .content
    h3.align-center
      strong Техническое задание на разработку сайта "Good Goal"
    h6.alttitle.align-center Мы всегда рады создавать новые сайты
    .wrapper-small
        h4#client_information 1. Общие положения
      
    aside.aside
      ul.brief_navigation
          li.brief_navigation_li
            a.brief_navigation_link(href='#client_information')
              b 1. Информация о заказчике
            i.fa.fa-folder-o(aria-hidden="true")
            i.fa.fa-folder-open-o(aria-hidden="true")
            ul.brief_subnavigation
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#name')
                  em 1.1. Ваше имя и роль в компании: *
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#phone')
                  em 1.2. Номер телефона: *
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#email')
                  em 1.3. E-mail адрес *
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#company-name')
                  em 1.4. Название компании: *
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#company-activity')
                  em 1.5. Сфера деятельности компании:
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#products-services')
                  em 1.6. Услуги / продукты компании: *
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#site-domen')
                  em 1.7. Адрес текущего сайта (если есть):
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#new-site-domen')
                  em 1.8. Доменное имя для нового сайта (возможные варианты):
          li.brief_navigation_li
            a.brief_navigation_link(href='#general_requirements')
              b 2. Общие требования к сайту
            i.fa.fa-folder-o(aria-hidden="true")
            i.fa.fa-folder-open-o(aria-hidden="true")
            ul.brief_subnavigation
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#site-type')
                  em 2.1. Тип сайта: *
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#slogan')
                  em 2.2. Слоган компании либо рекламные фразы для использования на веб-сайте:
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#impression')
                  em 2.3. Какое впечатление о компании должно создаваться у пользователей сайта?
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#goal-auditory')
                  em 2.4. Целевая аудитория:
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#good-sites')
                  em 2.5. Пожалуйста, укажите два-три веб-сайта, которые Вам нравятся и почему: *
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#bad-sites')
                  em 2.6. Пожалуйста, укажите два-три веб-сайта, которые Вам НЕ нравятся и почему: *
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#your-bad-site')
                  em 2.7. Если у Вас уже есть веб-сайт, что Вам в нем нравится и НЕ нравится? *
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#your-bad-site-tasks')
                  em 2.8. Выполняет ли существующий сайт возложенные на него задачи? 
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#budget')
                  em 2.9. Укажите "вилку" предполагаемого бюджета на разработку сайта в $: *
          li.brief_navigation_li
            a.brief_navigation_link(href='#appearance')
              b 3. Внешний вид веб-сайта
            i.fa.fa-folder-o(aria-hidden="true")
            i.fa.fa-folder-open-o(aria-hidden="true")
            ul.brief_subnavigation
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#firm-elements')
                  em 3.1 Существующие элементы фирменного стиля компании:
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#visual-materials')
                  em 3.2 Какие визуальные материалы Вы можете предоставить для использования на сайте?
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#colors')
                  em 3.3 Есть ли у Вас особые предпочтения в отношении цветовой гаммы веб-сайта?
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#forbiden-colors')
                  em 3.4 Какие цвета категорически нельзя, с Вашей точки зрения, использовать на Вашем сайте?
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#site-look')
                  em 3.5 Как бы Вы охарактеризовали внешний вид будущего веб-сайта?
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#forbid')
                  em 3.6 Недопустимые к использованию символы, образы, слова
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#site-type')
                  em 3.7 Планируется ли использовть анимации и ефекты на сайте?
          li.brief_navigation_li
            a.brief_navigation_link(href='#structure')
              b 4. Содержание и структура веб-сайта
            i.fa.fa-folder-o(aria-hidden="true")
            i.fa.fa-folder-open-o(aria-hidden="true")
            ul.brief_subnavigation
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#content')
                  em 4.1. Какие материалы Вы можете предоставить для наполнения веб-сайта и в каком формате?
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#site-map')
                  em 4.2. Примерная карта сайта, возможные разделы: *
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#languages')
                  em 4.3. Планируется ли создание версий сайта на других языках помимо русского? На каких именно?
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#update-content')
                  em 4.4. Каким образом планируется обновлять материалы на сайте?
          li.brief_navigation_li
            a.brief_navigation_link(href='#c_q_w')
              b 5. Ваши комментарии, вопросы, пожелания
            i.fa.fa-folder-o(aria-hidden="true")
            i.fa.fa-folder-open-o(aria-hidden="true")
            ul.brief_subnavigation
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#comments')
                  em 5.1. Ваши комментарии
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#questions')
                  em 5.2. Ваши вопросы
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#wishes')
                  em 5.3. Ваши пожелания

.progressBar_container
  .progressBar
include templates/footer.pug
